.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container > .btn-title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
}

.btn {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #2a5b84;
  background-color: #2a5b84;
  color: #fefae1;
  border-radius: 10px;
  margin-right: 3px;
}
